#postApi {
    margin-left: 50%;
}

#putApi {
    margin-left: 50%;
}

#deleteApi {
    margin-left: 50%;
}

.h2,
h2 {
    text-align: center;
}

#mainContainer {
    margin-top: 1%;
    margin-left: 31%;
}

#container {
    margin-top: 3%;
}